<div class="photobox">
  <div class="photobox__content">
    <img src="p.url" alt="content" class="photobox__image"/>
    <div class="photobox__text">
      <div class="photobox__title">
        <%= p.title %>
      </div>
      <div class="photobox__description">
        <%= p.description %>
      </div>
    </div>
  </div>
</div>
